body{
	background: #9cc5b4;
	font-family: Montserrat;
	text-align: center;
	margin: 0 auto;
	color:#3a3a3a;
	font-size: 2em;
}

div {
  display: flex;
  min-height: 100vh;
}
p {
  margin: auto;
}

.largeurfixe{width: 200px;display:inline-block;font-size: .6em;}
.largeurfixe1{width: 400px;display:inline-block;font-size: .6em;}

.liens {
/* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
-webkit-transition: all 0.5s ease; /* Safari et Chrome */
-moz-transition: all 0.5s ease; /* Firefox */
-ms-transition: all 0.5s ease; /* Internet Explorer 9 */
-o-transition: all 0.5s ease; /* Opera */
transition: all 0.5s ease;
}
.liens:hover {
/* L'image est grossie de 25% */
-webkit-transform:scale(1.2); /* Safari et Chrome */
-moz-transform:scale(1.2); /* Firefox */
-ms-transform:scale(1.2); /* Internet Explorer 9 */
-o-transform:scale(1.2); /* Opera */
transform:scale(1.2);
}

.l1{position:fixed;top:0;right:2%;margin-top: 20px;}
.l2{position:fixed;top:30px;right:2%;margin-top: 40px;}
.l3{position:fixed;top:60px;right:2%;margin-top: 60px;}
.l4{position:fixed;top:90px;right:2%;margin-top: 80px;}

.liens{font-size: .6em;background: #3a3a3a;color:white;padding: 5px;border-radius:25px; width: 100px; text-align: center}
.none {display: none;}
/* deco */
div {
    background: #9cc5b4;
}

.fond1{background: #9cc5b4;}
.fond2{background: #75a290;}
.fond3{background: #4fbb90}

.fleche{
	position: absolute;
    width: 100%;
    height: 10%;
    margin-top: -5%;
    }

.smaller{font-size: 0.8em;}

a, a:hover, a:visited{color:white;text-decoration: none}

footer {position: absolute; bottom: 0; left: 0; right: 0}

.white{color:white;}
.orange{color:#ef7d00}
.fb{background: #3b5998;color:white;font-size: 0.5em;padding: 5px;width: 100px;}
.twitter{background: #4099FF;color:white;font-size: 0.5em;padding: 5px;}

.fb a{width: 100px;}
.logo{width:200px;
background: white;-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;margin-bottom: 10px;}

.adresse{font-size: 0.5em; font-style: italic;}
/** mobile **/
@media screen and (max-width: 750px) {
	body{
		font-size: 1.3em;
		
	}
	
	p{width: 90%;}
	.logo{width:200px;
		background: white;-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
	border-radius: 50px;margin-bottom: 30px;}	
	
	.fleche{font-size: 2em;margin-top: -20%;}

	.l1{position:fixed;top:0;right:10%;margin-top: 20px;}
	.l2{position:fixed;top:30px;right:10%;margin-top: 40px;}
	.l3{position:fixed;top:60px;right:10%;margin-top: 60px;}
	.l4{position:fixed;top:90px;right:10%;margin-top: 80px;}
	
}
